.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  height: 300px;
  overflow: hidden;
}

.logo {
  left: 0;
  top: 0;
  position: absolute;
  width: 300px;
}

.pagetitle {
  left: 300px;
  top: 100px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-weight: 700;
  color: white;
}

.menu {
  width: 100%;
  padding: 10px 0px;
  color: #6b6b6b;
  cursor: pointer;
  border-radius: 5px;
}

.menu:hover {
  background-color: #eeeeee;
}

.content {
  display: flex;
  flex-direction: row;
}

.navbar {
  width: 275px;
  padding: 16px 25px;
}

.apicontents {
  width: 100%;
}
